<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <title>AppLess Chaps</title>
</head>

<body>
  <div id=navBar>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>

  <div class=text-paragraph id=introParagraph>
    <!--TODO: use a custom font for the page. -->
    <h2>Go AppLess!</h2>
    <p>Here is some text that should show on the screen</p>
    <hr>
  </div>

  <div class=text-paragraph id=ourWorkParagraph>
    <h2>Past Work</h2>
    <p>We like to think that our work speaks for itself. Here are some things that we've
    worked on in the past.</p>
    <hr>
  </div>

  <div class=text-paragraph>
    <h2>Who are we?</h2>
    <p>More text here and some pictures of us.</p>
    <hr>
  </div>

</body>
</html>
